// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";

//Fonts 
@font-face {
  font-family: Poppins-Bold;
  src: url(/assets/font/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Reg;
  src: url(/assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Med;
  src: url(/assets/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Light;
  src: url(/assets/font/Poppins-Light.ttf);
}

//Mixins
@mixin img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

//Global
body {
  scroll-behavior: smooth;
  font-family: 'Poppins-Light';
  background: #fefefe;
}
p {
  font-size: .75rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
}
.navbar {
  padding: 1rem 2.5rem;
  .navbar-brand {
    font-family: 'Poppins-Bold';
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    &:hover {
      opacity: 75%;
    }
  }

  .nav-link {
    font-size: .75rem;
    padding: 0!important;
    margin: 0.25rem 0;
    border: none;
    color: black!important;
    @media(min-width: 992px){
      margin: 0 0.5rem;
    }
    &:hover {
      color: black;
      opacity: 75%;
    }

    &.active {
      @media(min-width: 992px){
        padding: 0;
        margin: 0 0.5rem;
        color: black;
      }
    }
  }
  .navbar-toggler {
      border: none;
      box-shadow: none!important;
      padding-right: 0;
      .btn {
        width: 80px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 0;
        &:active {
          box-shadow: none!important;
        }
        &.active {
          box-shadow: none!important;
        }
      }
      span {
        display: block;
        width: 50%;
        height: 3px;
        background: black;
        transition: all .3s;
        position: relative;
        border-radius: 2px;
      }
      
      span + span {
        margin-top: 5px;
      }
      
      .active span:nth-child(1) {
        animation: ease .7s top forwards;
      }
      
      .not-active span:nth-child(1) {
        animation: ease .7s top-2 forwards;
      }
      
      .active span:nth-child(2) {
        animation: ease .7s scaled forwards;
      }
      
      .not-active span:nth-child(2) {
        animation: ease .7s scaled-2 forwards;
      }
      
      .active span:nth-child(3) {
        animation: ease .7s bottom forwards;
      }
      
      .not-active span:nth-child(3) {
        animation: ease .7s bottom-2 forwards;
      }
      
      @keyframes top {
        0% {
          top: 0;
          transform: rotate(0);
        }
        50% {
          top: 7.5px;
          transform: rotate(0);
        }
        100% {
          top: 7.5px;
          transform: rotate(45deg);
        }
      }
      
      @keyframes top-2 {
        0% {
          top: 7.5px;
          transform: rotate(45deg);
        }
        50% {
          top: 7.5px;
          transform: rotate(0deg);
        }
        100% {
          top: 0;
          transform: rotate(0deg);
        }
      }
      
      @keyframes bottom {
        0% {
          bottom: 0;
          transform: rotate(0);
        }
        50% {
          bottom: 8.5px;
          transform: rotate(0);
        }
        100% {
          bottom: 8.5px;
          transform: rotate(135deg);
        }
      }
      
      @keyframes bottom-2 {
        0% {
          bottom: 8.5px;
          transform: rotate(135deg);
        }
        50% {
          bottom: 8.5px;
          transform: rotate(0);
        }
        100% {
          bottom: 0;
          transform: rotate(0);
        }
      }
      
      @keyframes scaled {
        50% {
          transform: scale(0);
        }
        100% {
          transform: scale(0);
        }
      }
      
      @keyframes scaled-2 {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
  }
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}

//Section

section {
  padding: 1rem 2rem;
  .row {
    padding-bottom: 2rem;
  }
}

.project {
  .row {
    padding-bottom: 0.5rem;
    .col-12 {
      margin: 0;
      padding: 0.5rem 0.5rem 0;
      @media(max-width: 678px){
        padding-bottom: 2rem;
      }
    }
  }
}

.img-wrapper {
  height: 400px;
  overflow: hidden;

  .title {
    font-size: 1.5rem;
    font-family: 'Poppins-Med';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s linear;
    
    &:hover {
      color: black;
      visibility: visible;
      transform: scale(1);
    }
  }

  .img, .detail-img {
    position: relative;
    @include img;
    width: 100%;
    height: 100%;
    transition: transform .75s ease-in-out;
    opacity: 80%;
    &.--hover {
      transform: scale(1.2);
      opacity: 100%;
      }

      &.come-in {
        transform: translateY(150px);
        animation: come-in 0.8s ease forwards;
      }
      .come-in:nth-child(odd) {
        animation-duration: 0.6s; /* So they look staggered */
      }
      
      @keyframes come-in {
        to { transform: translateY(0); }
      }

      //Home Project Images
      &.img-1 {
        background: url("/assets/images/Google-Doodle2.png");
        @include img;
      }
      &.img-2 {
        background: url("/assets/images/Veterans-Voices.png");
        @include img;
      }
      &.img-3 {
        background: url("/assets/images/StoryCorps3.png");
        @include img;
      }
      &.img-4 {
        background: url("/assets/images/LatinaSheServed.png");
        @include img;
      }
      &.img-5 {
        background: url("/assets/images/Disaster3.png");
        @include img;
      }
      &.img-6 {
        background: url("/assets/images/Mealsonwheels.png")
      }

      //Project Pages and Sub Images
      &.project-1-img-1 {
        background: url("/assets/images/Google-Doodle3.jpeg");
        @include img;
      }
      &.project-1-img-2 {
        background: url("/assets/images/Google-Doodle-2.jpeg");
        @include img;
      }
      &.project-1-img-3{
        background: url("/assets/images/Google-Doodle4.jpeg");
        @include img;
      }

      //Project 2
      &.project-2-img-1 {
        background: url("/assets/images/Veterans-Voices2.png");
        @include img;
      }
      &.project-2-img-2 {
        background: url("/assets/images/Veterans-Voices5.png");
        @include img;
      }
      &.project-2-img-3{
        background: url("/assets/images/Veterans-Voices.png");
        @include img;
      }
      &.project-2-img-4 {
        background: url("/assets/images/Veterans-Voices3.png");
        @include img;
      }
      &.project-2-img-5 {
        background: url("/assets/images/Veterans-Voices4.png");
        @include img;
      }

      //Project 3
      &.project-3-img-1 {
        background: url("/assets/images/StoryCorps2.png");
        @include img;
      }
      &.project-3-img-2 {
        background: url("/assets/images/StoryCorps1.png");
        @include img;
      }
      &.project-3-img-3 {
        background: url("/assets/images/StoryCorps3.png");
        @include img;
      }

      //Project 4
      // &.project-4-img-1 {
      //   background: url("/assets/images/);
      //   @include img;
      // }

      //Project 5
      &.project-5-img-1 {
        background: url("/assets/images/Disaster2.png");
        @include img;
      }
      &.project-5-img-2 {
        background: url("/assets/images/Disaster1.png");
        @include img;
      }

      //Project 6
      &.project-6-img-1 {
        background: url("/assets/images/Mealsonwheels.png")
      }
  }


  .project-title {

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    &.--title-hover {
      color: black;
      }
  }
}

.img-hover-zoom {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  img {
    width: 100%;
    transition: transform 1s linear;
    
    &:hover {
      transform: scale(1.2);
    }
  }
  
}

.card-title {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0; 
}

//Contact Page

section.contact {
  padding: 1.5rem 1.75rem;
  .contact-img {
    position: relative;
    background: url("/assets/images/HMD_CO2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

section.about {
  padding: 1.5rem 1.75rem;
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
      font-family: 'Poppins-Med';
      padding: .15rem 0;
      font-size: 1.5rem;
      @media(max-width: 678px){
        font-size: 1rem;
        padding: .25rem 0;
      }
    }
  }

  .email, .phone {
    font-family: 'Poppins-Med';
    p {
      margin-bottom: .15rem;
      padding-bottom: 0;
    }
    a {
      font-family: 'Poppins-Light';
    }
  }
  @media(max-width: 678px){
    .phone {
      padding-top: .75rem;
    }
  }
}


.project-detail {
 nav {
  position: absolute;
  z-index: 2;
  width: 100%;
  .navbar-brand {
    color: white!important;
    &:hover {
      color: white!important;
      opacity: 75%;
    }
  }
 }
 .navbar-nav {
  .nav-item {
    color: white!important;
    opacity: 75%;
    &.active {
      color: white!important;
      opacity: 75%;
    }
    &:hover {
      color: white;
      opacity: 75%;
    }
  }
}
}
section.project-detail {
  padding: 0 0 2rem  0;
  .row {
    padding: 0;
    .col-12 {
      padding: 0;
    }
  }
 

  // .contact-img {
  //   position: relative;
  //   background: url("/assets/images/HMD_CO2.jpeg");
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   height: 100%;
  // }
}



.next-project {
  .col-12 {
    padding-right: 3.5rem;
    @media(max-width: 678px){
      padding-right: 0!important;
    }
  }
}

.next-project-link {
  font-size: 1rem;
  font-family: 'Poppins-Bold';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  &:hover {
    opacity: 75%;
    color: black;
    text-decoration: none;
  }

  img {
    width: .75rem;
    margin-left: 1rem;
  }
}