<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/starter.css">
    <title>Hazel's Portfolio</title>
  </head>
  <body class="contact">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand p-0 m-0" href="/index.html">Hazel</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="btn not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/index.html">Work <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/views/about.html">Contact</a>
        </div>
      </div>
    </nav>
    <section class="contact pb-0">
        <div class="container-fluid">
            <div class="row pb-0">
                <div class="col-6">
                    <div class="img-wrapper">
                        <div class="contact-img"></div>
                    </div>
                </div>
                <div class="col-6">
                    <h2>Let's Connect!</h2>
                    <div class="description pt-2">
                        <p>I am a proud New York City native. I grew up in Bushwick, but currently live in Amish country, Pennsylvania; you could say I'm pretty well rounded. After my service in the United States Marine Corps, I began working in veteran services. I have served the military community in several roles related to policy, education, nonprofit and veteran services organizations for over 12 years. When not working, I enjoy backpacking through state and national parks (I have a few dozen under my belt), and traveling both domestically and internationally. I have visited 48 states and a handful of countries. I also enjoy yoga, running, biking, kayaking, and treating myself to ice cream after my adventures.</p>
                    </div>
                    <div class="row pb-0">
                        <div class="col-12 col-md-6 email">
                            <p>Email:</p>
                            <a href ="mailto:hazel.m.dee@gmail.com">hazel.m.dee@gmail.com</a>
                        </div>
                        <div class="col-12 col-md-6 phone">
                            <b><p>Phone:</p></b>
                            <a href ="tel:717-304-0692">(717) 304-0692</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <p class="sub-title">
                        Areas of Expertise
                    </p>
                    <h3>
                        <ul>
                            <li>Policy Media</li>
                            <li>Project Management</li>
                            <li>Learning and Engagement</li>
                            <li>Property Management</li>
                            <li>Higher Education</li>
                        </ul>
                    </h3>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="module" src="../js/starter.js"></script>
  </body>
</html>
