<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/starter.css">
    <title>Hazel's Portfolio</title>
  </head>
  <body class="project-detail">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand p-0 m-0" href="/index.html">Hazel Diaz</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="btn not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/index.html">Work <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/views/about.html">Contact</a>
        </div>
      </div>
    </nav>
    <section class="project-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="img img-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about pt-0 pl-1 pr-1 pb-0  project-3">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p class="sub-title">
                        Story Corps
                    </p>
                    <h3>
                        <ul class="role-details">
                            <li style="font-size: 1rem;">Company</li>
                            <li>Role lorem</li>
                            <li style="font-size: 1rem;">2020</li>
                        </ul>
                    </h3>
                   
                </div>
                <div class="col-6">
                    <div class="description goal">
                        <p>Objective</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus? Qui modi nesciunt voluptates eaque soluta debitis saepe minima asperiores facilis hic architecto perspiciatis dolores ipsum voluptatum, repudiandae eligendi. Nobis!</p>
                    </div>
                    <div class="description result pt-4">
                        <p>Result</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, delectus? Qui modi nesciunt voluptates eaque soluta debitis saepe minima asperiores facilis hic architecto perspiciatis dolores ipsum voluptatum, repudiandae eligendi. Nobis!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="https://www.youtube.com/watch?v=VIfJTTPJh_o&t=2s" class="next-project-link">Watch Video
                        <img src="/public/images/angle-right-solid.svg" alt="Watch Video">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="img detail-img project-3-img-1"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="img detail-img project-3-img-2"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="img detail-img project-3-img-1"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="img detail-img project-3-img-1"></div>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </section>
    <section class="next-project pt-0 d-flex flex-row-reverse">
        <div class="row">
            <div class="col-12">
                <a href="/views/project-detail4.html" class="next-project-link">Latina She Served
                    <img src="/public/images/angle-right-solid.svg" alt="Next Project">
                </a>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="module" src="../public/js/starter.js"></script>
  </body>
</html>
