<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/starter.css">
    <title>Hazel's Portfolio</title>
  </head>
  <body class="project-detail">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand p-0 m-0" href="/index.html">Hazel</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="btn not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/index.html">Work <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/views/about.html">Contact</a>
        </div>
      </div>
    </nav>
    <section class="project-detail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="img img-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about pt-0 pl-1 pr-1 pb-0 project-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>
                        <ul class="role-details">
                            <li style="font-size: 1rem;">Puerto Rican US Marine Corps veteran to Trump:</li>
                            <li>"We are patriots.. do more"</li>
                        </ul>

                    </h3>
                    <div class="description goal">
                        <p>From the beginning, Trump has handled the aftermath of the disaster in Puerto Rico terribly, first ignoring their pleas for help while attacking the NFL, then blaming the crisis on Puerto Rico’s debt problem, then belatedly sending a naval vessel on Hillary Clinton’s suggestion while defensively insisting that the Atlantic is a “very big ocean.”

                            Hazel Diaz offered herself up in the ultimate service to our country. She, her family, and the rest of Puerto Rico deserve a president who will hear their voice, and help.</p>
                    </div>
                    <a target="_blank" href="https://americanindependent.com/puerto-rican-marine-veteran-to-trump-we-are-patriots-do-more/?fbclid=IwAR1NqRRhwbgdVz7n3ecw1daCUo0u6z_BaE5artDTH6sty2P5GWXwGGEJJ9A">
                        <img class="w-100 mx-auto ml-0 pl-0 d-flex pt-4" src="/public/images/TheAmericanIndependent.jpeg">
                    </a>
                </div>
                <div class="col-6">
                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Puerto Rican USMC veteran Hazel Diaz is calling on <a href="https://twitter.com/POTUS?ref_src=twsrc%5Etfw">@POTUS</a> to take action to help Americans in need after Hurricane Maria. <a href="https://twitter.com/hashtag/WhatAboutPR?src=hash&amp;ref_src=twsrc%5Etfw">#WhatAboutPR</a> <a href="https://t.co/h26Y1DH7hw">pic.twitter.com/h26Y1DH7hw</a></p>&mdash; VoteVets (@votevets) <a href="https://twitter.com/votevets/status/913098459779145745?ref_src=twsrc%5Etfw">September 27, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="detail-img project-5-img-1"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="detail-img project-5-img-2"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="detail-img project-5-img-3"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="img-wrapper">
                        <div class="detail-img project-5-img-4"></div>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </section>
    <section class="next-project pt-0 d-flex flex-row-reverse">
        <div class="row">
            <div class="col-12">
                <a href="/views/project-detail6.html" class="next-project-link">Meals On Wheels
                    <img src="/public/images/angle-right-solid.svg" alt="Next Project">
                </a>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="module" src="../public/js/starter.js"></script>
  </body>
</html>
